html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: consolas;
}

.main {
  display: flex;
}

.menu {
  padding: 40px;
  padding-top: 20px;
  padding-right: 80px;
  background: rgb(187, 187, 187);
}

.menu-content{
  padding-top: 20px;
  position: sticky;
  top: 0;
}

.menu h1 {
  margin-bottom: 30px;
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-bottom: 20px;
  white-space: nowrap;
}

.menu a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.content {
  padding: 40px;
  text-align: justify;
}

.menu button {
  display: none;
}

@media screen and (max-width: 768px) {
  .menu {
    height: 100%;
    padding: 20px 40px;
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    transition: 0.5s;
  }

  .menu-activo {
    transform: translateX(0%);
  }

  .menu button {
    display: block;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    transform: translateX(193px);
  }

  .menu-content{
    position: static;
  }
  .content {
    padding: 20px 40px;
  }
}